:root {
    --border-color-light: rgba(55, 53, 47, 0.16);
    --border-color-dark: rgba(255, 255, 255, 0.13);
    --text-color-light: #rgb(55, 53, 47);
    --text-color-dark: rgba(255, 255, 255, 0.81);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
}

.interactive-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color-light);
}

.left-section, .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#clap-score, #view-count {
    font-size: 16px;
    margin-left: 5px;
}

.view-section, .clap-section {
    display: flex;
    align-items: center;
}

.dark-mode {
    color: var(--text-color-dark);
}

.dark-mode .interactive-bar {
    border-bottom: 1px solid var(--border-color-dark);
}
